body {
  background-color: #0dd97d;
}

/* Navigation Bar */

#Nav-bar {
  background-color: #a81859;
}

#Nav-bar a {
  color: #0dd97d;
}

#Nav-bar a:hover {
  color: #6bedb2;
}

#Nav-bar button {
  color: #0dd97d;
}

#Nav-bar .active {
  color: #6bedb2;
}

/* Hero Section */

.hero-section {
  background-image: url(../assets/images/hero-image.jpg);
  background-size: cover;
  background-position: center;
  color: #0dd97d;
  text-align: center;
  padding: 100px 0;
  margin-top: 56px;
  min-height: 60vh;
}

.hero-section a:focus {
  color: #0dd97d;
  background: #a81859;
  border: none;
}

.hero-section a {
  color: #a81859;
  background-color: #0dd97d;
  border: none;
}

.hero-section a:hover {
  color: #0dd97d;
  background-color: #a81859;
  border: none;
}

.hero-section h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 1px #a81859;
}

/* About Sections */

.info-section {
  background-color: #0dd97d;
  color: #a81859;
  padding: 50px 0;
  text-align: center;
}

.no-padding-bottom {
  padding-bottom: 0px;
}

/* Learn link section */

.container-box {
  position: relative;
}

.image {
  display: block;
  width: 100%;
}

.container-box img {
  width: 100%;
  height: 452px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.container-box:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.card-correction {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}

/* link to game section */

.link-to-game a {
  color: #0dd97d;
  background-color: #a81859;
  border: none;
}

.link-to-game a:hover {
  color: #0dd97d;
  background-color: red;
  border: none;
}

/* Learn page */

.tip-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tip-align {
  text-align: center;
}

/* Footer */

#footer {
  background-color: #a81859;
  color: #0dd97d;
  display: flex;
  padding-top: 15px;
}

footer div {
  text-align: center;
}

footer .social-links {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

footer .social-links a {
  color: #0dd97d;
  font-size: 2rem;
}

footer .social-links a:hover {
  color: #6bedb2;
}
